.bankCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  max-width: 200px;
  height: 100px;
  background-color: #cccccc;
  cursor: pointer;
}
.pin{
  width: 300px;
  height: 300px;
  margin-left: 500px;
}
