.purse {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  max-width: 400px;
  background-color: var(--gray-light);
  text-align: center;
  height: 350px;
}
.money {
  margin: 11px;
  padding: 5px;
  border: 1px solid black;
  user-select: none;
}
