* {
  border-radius: 5px;
  box-sizing: border-box;
}
  div {
  margin: 3px;
  box-shadow: 0px 0.8px 2px rgba(0, 0, 0, 0.032),
    0px 2.7px 6.7px rgba(0, 0, 0, 0.048), 0px 12px 30px rgba(0, 0, 0, 0.08);
}
.root {
  position: relative;
  min-height: 100vh;
}
@media (min-width: 777px) {
  .root {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --gray: #a4a4a4;
  --gray-dark: #6c7077;
  --white: white;
  --primary: #0f6e13;
  --primary-hover: #12a165;
  --green: #007b48;
  --green-light: #c8f8e4;
  --font-family: sans-serif;
}
